# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# VS Code
.vscode/

# Qt / PySide
*.qrc
*.ui~

# OS files
.DS_Store
Thumbs.db

# Database SQLite
*.sqlite
*.sqlite3
*.db

# File di Log e Importazione
import_log.json
*.log
